#fill in username
usr=''
#fill in pw 
pw=''
#fill in Domoticz URL
url='127.0.0.1'
#fill in Domoticz port
port='8080'
#fill in script root e.g. script:///home/<user>/evohome-client script::///usr/local/bin etc
srt='script:///opt/domoticz/scripts/evohome'

